@import './variables';

.btn {
  height: 40px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $light;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
  cursor: pointer;

  &.btn-primary {
    background: $linear-gradient;
  }

  &.btn-dark {
    background-color: $dark;
  }
}
