$background: #373735;
$primary: #EA916B;
$secondary: #E05A4D;
$dark: #373735;
$light: #FFFFFF;
$gray: #707070;

$linear-gradient: linear-gradient(to bottom, $primary, $secondary);

$sm-up: 'min-width: 575px';
